body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
}
h1 {
    font-size: 4em;
}
.author {
    color: orange;
}
.header-part {
    width: 50%;
    padding-left: 5%;
}
.link-color {
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(red, black);
    color: white;
    border-radius: 20px;
}
.header-part img {
    width: 100%;
}


#dream-area {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-area-part {
    width: 50%;
    padding-right: 5%;
}
.dream-area-part img {
    width: 100%;
}
#experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding: 5%;
}

.experience-area-part {
    display: flex;
}
.experience-area-part h3 {
    color: orange;
}
.experience-area-part div {
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    margin: 15px;
}
.full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(
180deg,red,orange);
    border-image-slice: 1;
    padding: 10px;
}
.baby-stack {
    border-left: 7px solid;
    border-image: linear-gradient(
180deg,cyan,black);
    border-image-slice: 1;
    padding: 10px;
}
.footer {
    display: flex;
    height: 60px;
    background-color: gray;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer p {
    justify-content: center;
    align-items: center;
}